{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<body class="login-body">

  <div class="row">
    <div class="col-12" id="messageCard">
       <div class="message">
          {% if messages %}
             {% for message in messages %}
             <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
             {% endfor %}
          {% endif %}
       </div>
    </div>
 </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
              <form action="." method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="username" name="username" class="form-control" id="id_username" placeholder="Nombre de usuario" required autofocus>
                  <label for="username">Usuario</label>
                </div>
  
                <div class="form-floating mb-3">
                  <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
                  <label for="password">Password</label>
                </div>
  
                <hr>
                    <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                  </div>
        
                <hr class="my-4">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}