{% load static %}




<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Bootstrap core JS-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/scripts.js' %}"></script>
<!-- Bootstrap Table-->
<script src="{% static 'plugins/bootstrap-table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
<!-- Sweat Alert JS-->
<script src="{% static 'plugins/sweetalert2-9.10.0/sweetalert2.min.js' %}"></script>
<!-- Jquery Confirm -->
<script src="{% static 'plugins/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
<!-- Jquery Moment -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<!-- Jquery RangeDatePicker -->
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Project Main JS-->
<script src="{% static 'js/main.js' %}"></script>

